{% extends 'StoreBundle::base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Articles</h1>
    </div>

{% if is_granted("ROLE_ADMIN") %}
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(edit_form) }}
        <tr>
            <td class="label pull-right col-lg-2">current image: </td>
            <td class="img-responsive pull-right"><img src="/uploads/documents/{{ article.imagePath }}" alt="image" style=height:150px;"></td>
        </tr><br>
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-primary center-block col-lg-3">Edit</button>
    {{ form_end(edit_form) }}

    <a href="{{ path('articles_index') }}"><button type="button" class="btn btn-info col-lg-2 right">Back to List</button></a>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger pull-right">Delete</button>
    {{ form_end(delete_form) }}
{% else %}
    <h3>U dient eerst de login te doen!</h3>
{% endif %}

{% endblock %}
